<html>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/jquery.datetimepicker.css">

<!-- bootstrap JS include -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie-emulation-modes-warning.js"></script>
<script src="js/jquery.datetimepicker.full.js"></script>


<!-- dwr JS include -->
<script type='text/javascript' src='dwr/engine.js'></script>
<script type='text/javascript' src='dwr/util.js'></script>
<script type='text/javascript' src='dwr/interface/Demo.js'></script>

<script src="js/echarts.min.js"></script>

<!-- Inner JS include -->
<script type='text/javascript' src="js/mine/control.js"></script>
</head>

<body>
	112233
</body>
</html>