<html>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/jquery.datetimepicker.css">

<!-- bootstrap JS include -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie-emulation-modes-warning.js"></script>
<script src="js/jquery.datetimepicker.full.js"></script>

<!-- dwr JS include -->
<script type='text/javascript' src='dwr/engine.js'></script>
<script type='text/javascript' src='dwr/util.js'></script>
<script type='text/javascript' src='dwr/interface/Demo.js'></script>

<script src="js/echarts.min.js"></script>

<!-- Inner JS include -->
<script type='text/javascript' src="js/mine/control.js"></script>
</head>

<body>
	<div id="mainPage" class="container">
		<div id="loginInfo">
			<div class="panel panel-info">
			  <p>
			  	<input id="userName" type="text" class="form-control" placeholder="用户名称" aria-describedby="basic-addon1"/><br/>
			    <input id="password" type="text" class="form-control" placeholder="用户密码" aria-describedby="basic-addon1"/><br/>
			    <a class="btn btn-primary" onclick="login()">&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;
				</p>
			</div>
		</div>
	</div>
</body>
</html>